* { box-sizing: border-box }

@font-face {
	font-family: electrolize;
	src: url('../assets/Electrolize-Regular.ttf');
}

body {
	padding: 0;
	margin: 0;
	font-family: electrolize;
}

button {
	cursor: pointer;
}
