$cardHeight: 160px;
$cardWidth: 120px;

@mixin flexFullCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin card {
	@include flexFullCentered;
	width: $cardWidth;
	height: $cardHeight;
	font-size: 32px;
	border-radius: 5px;
	-webkit-user-select: none;
	z-index: 1;
}

@mixin ball {
	@include flexFullCentered;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	font-size: 32px;
	z-index: 1;
}

@mixin backgroundLine {
	width: 0;
	position: absolute;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 0;
	transition: width 1000ms;
}

* { box-sizing: border-box }

body {
	padding: 0;
	margin: 0;
}

.board {
	width: 100vw;
	height: 100vh;
}
.draggable-background {
	width: 100%;
	height: calc(100% - 200px);
	background: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
	position: relative;
	min-width: 1024px;
}
.hand-container {
	width: 100%;
	height: 200px;
	border-top: 4px solid #999;
	background: #666;
	display: flex;
	gap: 10px;
	align-items: center;
	padding: 15px;
}

.background-line {
	@include backgroundLine;
	background: yellow;
}

.background-broken-line {
	@include backgroundLine;
	transition-duration: 500ms;
	left: 50%;
	background-image: linear-gradient(to right, yellow 33%, rgba(255,255,255,0) 0%);
	background-size: 10px 1px;
}

.card {
	@include card;
	background: white;
	animation: popUp 300ms;
}

.source-card {
	@include ball;
	background: yellow;
	animation: scaleUp 300ms;
	transform-origin: center;
	border: 5px solid #666;
}

.goal-light {
	z-index: 1;
}

.goal-card {
	@include flexFullCentered;
	@include ball;
	background: yellow;
	border: 5px solid #666;
}

.card-slot-container {
	@include flexFullCentered;
	gap: 20px;
	position: relative;

	padding: 30px;
	background: rgb(2,0,36);
	background: linear-gradient(135deg, rgba(73,100,106,1) 0%, rgba(255,255,255,1) 35%, rgba(73,100,106,1) 100%);
}

.card-slot {
	width: $cardWidth + 10px;
	height: $cardHeight + 10px;
	background: #666;
	border-radius: 10px;
	border: 10px solid #999;

	animation: scaleUpY 300ms;
	animation-play-state: paused;
	transform-origin: center;
}

.targeted-slot {
	border-color: orange;
}

.result-light {
	//position: absolute;
	//right: 0;
	//transform: translateX(100%);
}

.result-display {
	@include ball;
	background: orange;
	background: radial-gradient(circle, #FFD530FF 0%, orange 60%, orange 100%);
	border: 5px solid #999;
	padding: 10px;
}

.pulse-circle {
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 50%, yellow 100%);
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	transform: scale(1);
	animation: pulse;
	animation-iteration-count: infinite;
}

@keyframes pulse {
	from {
		transform: scale(1);
		opacity: 1;
	}
	to {
		transform: scale(3);
		opacity: 0;
	}
}

@keyframes scaleUp {
	from { transform: scale(0) }
	to { transform: scale(1) }
}

@keyframes scaleUpY {
	from { transform: scaleY(0) }
	to { transform: scaleY(1) }
}

@keyframes popUp {
	from { transform: translate(0, 200%) }
	to { transform: translate(0, 0) }
}
